:root {
  --primary: #137dc5;
  --accent: #facf39;
  --background: #f7e8d3;
  --text-dark: #112d4e;

  --white: #ffffff;
  --mist-white: #f3f6f9;
  --light-cream: #f7e8d3;
  --deep-navy: #112d4e;
  --dark-navy: #0f172a;
  --dark-navy-soft: #1e293b;
  --dark-navy-muted: #334155;
  --blue-light: #b4d5f0;
  --blue: #137dc5;
  --mid-blue: #3a506b;
  --steel-blue: #3a4a5a;
  --charcoal-blue: #2b3443;
  --butter-yellow: #facf39;
  --butter-yellow-hover: #e5ba28;
  --soft-yellow: #f5d96c;
  --cloud-gray: #e5e5e5;
  --cream-soft: #fdfaf6;
  --cream-muted: #f1e3d0;
  --border-light: #e4eaf0;
  --border-contrast: #d5dbe3;

  --vt-c-indigo: var(--deep-navy);

  --white-soft: rgba(255, 255, 255, 0.85);
  --white-muted: rgba(255, 255, 255, 0.64);

  --divider-light-1: rgba(60, 60, 60, 0.16);
  --divider-light-2: rgba(60, 60, 60, 0.08);
  --divider-dark-1: rgba(17, 29, 78, 0.65);
  --divider-dark-2: rgba(17, 29, 78, 0.48);

  --text-light-1: var(--deep-navy);
  --text-light-2: rgba(58, 80, 107, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(255, 255, 255, 0.64);

  --color-link: var(--blue);
  --color-link-hover: var(--blue-hover);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--light-cream);
  --color-background-soft: var(--cream-soft);
  --color-background-mute: var(--cream-muted);

  --color-border: var(--border-light);
  --color-border-hover: var(--blue-soft);

  --color-heading: var(--text-light- 1);
  --color-text: var(--text-light-2);

  --color-primary: var(--blue);
  --color-accent: var(--butter-yellow);
  --color-accent-hover: var(--butter-yellow-hover);
  --color-white: var(--white);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-navy);
    --color-background-soft: var(--dark-navy-soft);
    --color-background-mute: var(--dark-navy-muted);

    --color-border: var(--charcoal-blue);
    --color-border-hover: var(--steel-blue);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
  text-underline-offset: 3px;
}
